body {
  margin: 0;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  color: lightgrey;
  background-color: black;
}

header nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
  width: 94%;
  padding-inline: 3%;

  /* height: 70px; */

  background-color: rgba(111, 0, 70, 0.7);
}
header nav > span {
  /* margin: 0,20px, 0 , 100px;
    margin-inline: 50px; */
  font-size: 1.3em;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
}

img {
  border-radius: 3px;
  border: 3px solid lightgray;
}

main > section {
  width: 625px;
}

.list {
  background-color: #111;
  border-right: 10px solid gray;
  height: 100vh;
  overflow: auto;
  /* scrollbar-width: 3px; */
}

.list article {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #222;
}

.list ul {
  margin: 73px 0 0 0;
  padding: 0;
  list-style: none;
}

.list img {
  width: 80px;
  height: 80px;
  margin: 10px;
}

.list div {
  width: 100%;
  background-color: #333;
  margin-inline: 10px;
}

.list div > p {
  margin-block: 5px;
}
.list div > p:first-of-type {
  font-weight: bold;
}

.play {
  background-color: grey;
  width: 35px;
  height: 30px;
  border-radius: 50%;
  margin-inline: 10px;
  font-size: 1.5em;
  border: none;
  position: relative;
}
.play > span {
  position: absolute;
  left: 3%;
  top: -22%;
}

.controls .play {
  background-color: white;
  width: 70px;
  height: 60px;
  border-radius: 50%;
  font-size: 3em;
}
.controls .play > span {
  position: absolute;
  left: 10%;
  top: -22%;
}

.list li:first-of-type button {
  background-color: white;
}

.player {
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 70px 0 40px 0;
}

.player > img {
  margin: 20px;
}
.title,
.controls,
.meter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 30px;
}
.title div > p {
  margin-block: 10px;
}
.title div > p:first-of-type {
  font-size: 1.5em;
}
.title div:has(p) {
  text-align: center;
}

#add {
  position: relative;
  border: 3px solid white;
  border-radius: 50%;
  color: lightgray;
}
#add span {
  position: absolute;
  left: 2px;
  top: -2px;
  font-weight: bolder;
  font-size: larger;
}
#favorit {
  /* background-color: #222; */
  color: #555;
}
button:has(#favorit),
button:has(#add) {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 70px;
  width: 36px;
  font-size: 1em;
}

.controls button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
}

.controls span {
  /* background-color: white; */
}

.meter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar {
  height: 8px;
  width: 450px;
  /* border: 3px solid white; */
  border-radius: 4px;
  background-color: rgb(76, 76, 76);
}
.bar-played {
  height: 8px;
  width: 81px;
  /* border: 3px solid white; */
  border-radius: 4px;
  background-color: white;
}
